@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;600;700&display=swap');

.main {
  /* font-family: "Mulish", sans-serif; */
  
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('SofiaProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('SofiaProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}