@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Suez+One&display=swap');

.main {
    background: #609afa;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

  /* add new scroll + better design */