#about h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

#about {
  color: white;
  background: #0f0f0f;
  height: calc(100vh + 4rem);
  display: grid;
  grid-template-columns: auto 65%;
  grid-template-rows: auto 35% 40%;
  grid-template-areas:
    ". img"
    "titles img"
    "buttons img";
}

#about p {
  color: #9a999b;
}

#about #titles {
  grid-area: titles;
  text-align: left;
  justify-self: start;
  margin-left: 4rem;
  align-self: center;
  font-size: 1.5rem;
}

#about #titles h1:nth-child(3) {
  color: #ff5b66;
}

#about #buttons {
  grid-area: buttons;
  justify-self: start;
  display: flex;
  align-items: start;
}

#about #buttons button {
  background-color: transparent;
  color: white;
  border: 1px solid #ff5b66;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 4rem;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}

#about #buttons button:nth-child(2) {
    background-color:#ff5b66;
}

#about #buttons button:hover {
  background-color: #ff5b66;
  border-color: white;
}

#about #pictures {
  grid-area: img;
  display: flex;
  align-items: end;
  justify-content: baseline;
  padding-bottom: 3.7rem;
}

#about #pictures img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
