#contact {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% auto;
  grid-template-areas:
    "titles logo"
    "input info";
}

#contact h1,
#contact p,
#contact h2 {
  margin: 0;
}

#contact h1,
#contact h2 {
  font-size: 4rem;
}

#contact h1 {
  color: #ff5b66;
  margin-bottom: 1rem;
}

#contact small {
  color: #9a999b;
}

#contact p {
  border-bottom: 1px solid #ff5b66;
  padding: 1rem 0;
}

#contact #info {
  text-align: left;
  margin-top: 2rem;
}

#contact #logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

#contact #logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#contact #text {
  grid-area: titles;
  text-align: left;
  align-self: center;
  justify-self: start;
  margin-left: 4rem;
}

#contact #info {
  grid-area: info;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
}

#contact #info p:hover {
  cursor: pointer;
  color: #ff5b66;
}

#contact #form {
  grid-area: input;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 4rem;
}

#contact #form input {
  background-color: #363636;
  color: white;
  border: none;
  margin: 5px;
  padding: 1rem;
  border-bottom: #ff5b66 1px solid;
}

#contact button {
  background-color: transparent;
  color: white;
  border: 1px solid #ff5b66;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}

#contact button:nth-child(2) {
  background-color: #ff5b66;
}

#contact button:hover {
  background-color: #ff5b66;
  border-color: white;
}
