body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: transform 0.3s ease;
}

.navbar-logo-link {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 32px;
  text-decoration: none;
  color: #FF5B66;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  transition: color 0.3s ease;
  font-size: 20px;
  cursor: pointer;
}

.navbar-links a:hover,
.navbar-links a:active,
.navbar-links a:focus {
  color: #FF5B66;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
}

.section:nth-child(even) {
  background-color: #333;
}

.section:nth-child(odd) {
  background-color: #555;
}

.section-content {
  text-align: center;
}

.navbar a + a {
  margin-left: 24px;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}